.login-title {
  color: rgb(65, 148, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-link {
  color: rgb(65, 148, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3ch;
}

.register-link:hover {
  color: rgb(33, 105, 177);
}

.login-btn {
  background-color: rgb(65, 148, 232);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 25%;
  margin: 3ch;
}

.login-username {
  margin: 1ch;
}

.login-password {
  margin: 1ch;
}
