.register-title {
  color: rgb(65, 148, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-name {
  display: flex;
  gap: 1ch;
  width: 20ch;
  margin: 1ch;
  padding: 1ch;
}

.reg-user {
  display: flex;
  gap: 1ch;
  width: 20ch;
  margin: 1ch;
  padding: 1ch;
}

.reg-password {
  display: flex;
  gap: 1ch;
  width: 20ch;
  margin: 1ch;
  padding: 1ch;
}

.reg-name:hover {
  border: 2px solid rgb(65, 148, 232);
  border-radius: 2px;
}

.reg-user:hover,
.reg-password:hover {
  border: 2px solid rgb(65, 148, 232);
  border-radius: 2px;
}

.reg-label {
  font-size: 15px;
}

.reg-btn {
  background-color: rgb(65, 148, 232);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 25%;
  margin: 3ch;
  color: white;
}

.reg-btn:hover {
  background-color: rgb(33, 105, 177);
}

.login-link {
  color: rgb(65, 148, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3ch;
}

.login-link:hover {
  color: rgb(33, 105, 177);
}
